<h3><b>Merchant's Coupon Show Page</b></h3>

<p><%= "Name: #{@coupon.name}" %></p>
<p><%= "Code: #{@coupon.code}" %></p>
<p><%= "Discount: #{@coupon.category} is #{@coupon.amount}" %></p>
<p><%= "Active: #{@coupon.active}" %></p>